{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    </style>
</head>
<body>
    {% block body %}
    <div class="container d-flex flex-column justify-content-center ">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card mt-5">
                    <div class="class-header text-white bg-info">
                        <div class="class-title m-4">
                            Login
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="m-4">
                                    <p class="fieldname" style="text-transform: uppercase;">{{field.name}}:</p>
                                    {{field}}
                                </div>
                            {% endfor %}
                            <!-- {{ form }} -->
                            <div class="ml-5 button1" style="margin-left: 24px;">
                                <button class="btn btn-primary" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
</body>
</html>